<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleGetInfoString</key>
        <string>dws</string>

        <key>CFBundleDisplayName</key>
        <string>dws</string>

        <key>CFBundleName</key>
        <string>dws</string>

        <key>CFBundleIndentifier</key>
        <string>com.jordanorelli.dws</string>

        <key>CFBundleVersion</key>
        <string>1</string>

        <key>CFBundleExecutable</key>
        <string>dws</string>
    </dict>
</plist>

